.map {
	width: 700;
	height: 500;
	position: relative;
	margin: auto;
}

.chart {
	position: relative;
	margin: auto;
}

H1 {
	text-align: center;
	font: 24px sans-serif;
}

H2 {
	text-align: center;
	font: 16px sans-serif;
}

.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}
